@import './Spacer';

.css-yvszuv-Slider {
  width: 500px !important;
}

.align-item-center {
  align-items: center !important;
}

.text-item-center {
    text-align: center;
}

.text-color-red {
    color: red;
}

.colored-chip-red {
    width: 100px;
    height: 20px;
    background-color: red;
}